
<div class="container section3 section pt-0" id="contactUs">
  <h1 class="text-center fs-30 fw-500">GET IN TOUCH</h1>
  <hr class="get-in-touch-border-bottom">
  <p style="text-align: center;">Got an idea? Never hesitate, contact us now without an obligation.</p>

  <div class="row">
          <div class="col-lg-4">
              <h2>Contact Info</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum...</p>
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
              <h2>Address</h2>
              <p>350 Bay St, 7th floor, Toronto,ON M5H 2S6</p>
          </div>
          <div class="col-lg-8">
              <div class="col-12 mt-4">
                  <form>
                      <div class="row">
                      <div class="form-group col-lg-6">
                        <label for="name" class="fw-500">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name..." required>
                      </div>

                      <div class="form-group  col-lg-6">
                        <label for="email" class="fw-500">Email address</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter your email...">
                      </div>
                      </div>

                      <div class="form-group">
                          <label for="subject" class="fw-500">Subject</label>
                          <input type="text" class="form-control" id="subject" placeholder="Enter subject...">
                      </div>

                      <div class="form-group">
                          <label for="message" class="fw-500">Message</label>
                          <textarea id="story"  class="form-control" name="message" rows="3" cols="33" placeholder="Enter message..."></textarea>
                      </div>

                      <button type="button" class="btn case-study-btn btn-lg"><span class="fs-14 fw-500">Send Message
                        <img src="..\assets\img\sendMsgArrow.svg">
                      </span></button>

                    </form>
              </div>
          </div>
  </div>
</div>

<div class="black_back">
    <div class="container section7 section">
        <div class="row">
                <div class="col-lg-5 ">
                    <a class="navbar-brand" href="#"><img src="..\assets\img\logo.svg" alt="logo" style="width:200px;"></a>
                    <p style="color: #ACACAC;">Why live in the dark ages? We deliver exceptional services to help you conquer the world.</p>

                        <a  href="#"><img class="facebook_logo social_logo" src="..\assets\img\fb.svg" alt="logo"></a>
                        <a href="#"><img class="twitter_logo social_logo"  src="..\assets\img\twi.svg" alt="logo"></a>
                        <a  href="#"><img class="insta_logo social_logo" src="..\assets\img\insta.svg" alt="logo"></a>
                </div>

                <div class="col-lg-3 link">
                    <p>Company</p>
                    <p><a  href="#">About</a></p>
                    <p><a  href="#">Service</a></p>
                    <p><a  href="#">Contact Us</a></p>
                </div>

                <div class="col-lg-3 link1">
                    <p>Further Information</p>
                    <p><a  href="#">Term & Condition</a></p>
                    <p><a  href="#">Privacy Policy</a></p>
                </div>

                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-center">
                  <p style="color: #ACACAC;">2019-2020 &copy; Appincubator.</p>
                </div>
        </div>
    </div>
</div>
