.middle-content{
  z-index: 1;
  h2{font-size:34px; margin-top: 40%;width:100%;margin-left: 120%;}
  p{margin-top: 6%;width:120%;margin-left: 115%;}
}


.get-in-touch-border-bottom {
  height:4px;
  border-width:0;
  color:#6874fc;
  background-color:#6874fc;
  width:6%;
}

.mt-8 {
  margin-top:8% !important;
}

.mb-8 {
  margin-bottom: 8% !important;
}

.oval1{
  position: absolute;
  top: 22%;
  right: 10%;
}
.oval2{
  position: absolute;
  left: -82px;
  top: 21%;
}

.fs-34 {
  font-size: 34px;
}

.case-study-btn {
  color: #ffffff;
  background-color: #5E62FF;
  border-color: #5E62FF;
}

.header-heading {
  margin-top: 16%;
}

.fs-18 {
  font-size: 18px;
}
